@import 'font-face.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}

body {
  @apply text-black;
  @apply font-normal;
  @apply antialiased;
}

@layer components {
  .game-background {
    background-color: rgb(49, 46, 129);
    background-image: radial-gradient(
        at 3% 97%,
        rgb(15, 23, 42) 0,
        transparent 100%
      ),
      radial-gradient(at 100% 83%, rgb(15, 23, 42) 0, transparent 100%),
      radial-gradient(at 10% 17%, rgb(15, 23, 42) 0, transparent 89%),
      radial-gradient(at 59% 40%, rgb(15, 23, 42) 0, transparent 100%);
    overscroll-behavior: contain;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 2.5rem;
    font-weight: bold;
    border: 1px solid #00000080;
    border-radius: 0.375rem;
    width: fit-content;
  }
}
